{% extends "TallerReparacioBackendBundle:Default:index.html.twig " %}
{% block title %}Clients{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block navigation %}
	{{ parent() }}
{% endblock %}
{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <a href="{{ path('taller_reparacio_backend_formAfegir_clients') }}" class="btn btn-success">Afegir nou Client</a>
        </div>
        <div class="col-sm-12 col-lg-12 col-md-12">
            <h2 class="">{{ titol }}</h2>
        </div>
        {% for c in clients %}
            <div class="col-sm-3 col-lg-3 col-md-3 text-center">
                <img class="img-responsive" src={{ c.foto }} style="width:100%;" />
                <h3>{{ c.nom }} {{ c.cognom }}</h3>
                <p>{{ c.nif }}</p>
                <a class="btn btn-primary" href="{{ path('taller_reparacio_backend_formEditar_clients', {nif:c.nif}) }}">Editar</a>
                <a class="btn btn-danger" href="{{ path('taller_reparacio_backend_eliminar_clients', {nif:c.nif}) }}">Eliminar</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}