{% extends "::base.html.twig " %}

{% block title %}Benvingut al Backend{% endblock %}
  {% block stylesheets %}
    {{ parent() }} 
  {% endblock %}
      {% block navigation %}
        <li><a href="{{ path('taller_reparacio_backend_homepage') }}">Inici</a></li>
          <li><a href="{{ path('taller_reparacio_backend_consultar_clients') }}">Clients</a><li>
          <li><a href="{{ path('taller_reparacio_backend_consultar_vehicles') }}">Vehicles</a></li>
          <li><a href="{{ path('taller_reparacio_backend_consultar_reparacions') }}">Reparacions</a></li>
          <li><a style="color:red;" href="#">Mecànics</a></li>
          <li><a style="color:red;" href="#">Equip Mecànics</a></li>
          <li><a href="{{ path('taller_reparacio_frontend_homepage') }}">Logout</a></li>
      {% endblock %}

      {% block page_content %}
        <p> Això es el Backend </p>
      {% endblock %}