{% extends "TallerReparacioBackendBundle:Default:index.html.twig " %}
{% block title %}Clients{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block navigation %}
	{{ parent() }}
{% endblock %}
{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <a href="{{ path('taller_reparacio_backend_formAfegir_clients') }}" class="btn btn-success">Afegir Vehicle i Client</a>
        </div>
        <div class="col-sm-12 col-lg-12 col-md-12">
            <h2 class="">{{ titol }}</h2>
        </div>
        {% for v in vehicles %}
            <div class="col-sm-3 col-lg-3 col-md-3 text-center">
                <img class="img-responsive" src="https://static.webshopapp.com/shops/031349/files/022902189/other-1.png" style="width:100%;" />
                <h3>{{ v.marca }} {{ v.model }}</h3>
                <p>{{ v.matricula }}</p>
                <a class="btn btn-primary" href="{{ path('taller_reparacio_backend_formEditar_vehicles', {matricula:v.matricula}) }}">Editar</a>
                <a class="btn btn-danger" href="{{ path('taller_reparacio_backend_eliminar_vehicles', {matricula:v.matricula}) }}">Eliminar</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}